  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <app-pesquisa></app-pesquisa>
      </div>
      <div class="col-md-6">
        <h5>
          Está procurando um profissional?<br>
          É um profissional ou empresa prestadora
          de serviços a procura de clientes?<br>
          Seus problemas acabaram.<br>
          Cadastre-se no Portal de Serviçoes clicando
          no botão abaixo.
        </h5>
        <a routerLink="/cadastro" class="btn btn-success " role="button" aria-pressed="true">Cadastre-se</a>

      </div>

    </div>

  </div>


