<div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="/assets/foto2.PNG" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Contadora</h4>
          <p class="card-text">Uma descrição do seviço a ser prestado</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
       </div>
      </div>
   </div>

   <div class="col-md-3">
     <div class="card">
       <img class="card-img-top" src="/assets/foto1.PNG" alt="Card image cap">
       <div class="card-body">
         <h4 class="card-title">Eletricista</h4>
         <p class="card-text">Uma descrição do seviço a ser prestado</p>
         <a href="#" class="btn btn-primary">Detalhes</a>
      </div>
     </div>
  </div>

  <div class="col-md-3">
    <div class="card" >
      <img class="card-img-top" src="/assets/foto3.PNG" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Pedreiro</h4>
        <p class="card-text">Uma descrição do seviço a ser prestado.</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
     </div>
    </div>
 </div>

 <div class="col-md-3">
   <div class="card" >
     <img class="card-img-top" src="/assets/foto4.PNG" alt="Card image cap">
     <div class="card-body">
       <h4 class="card-title">Programador</h4>
       <p class="card-text">Uma descrição do seviço a ser prestado.</p>
       <a href="#" class="btn btn-primary">Detalhes</a>
    </div>
   </div>
 </div>

  
</div>