<div class="row">
    <div class="col-md-3" *ngFor="let anuncio of anuncios">
      <div class="card">
        <img class="card-img-top img-fluid " src="{{ anuncio.foto }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ anuncio.servico }}</h4>
          <h5>{{ anuncio.usuario }}</h5>
          <p class="card-text">{{ anuncio.descricao }}</p>
          <div *ngIf="!usuario_logado">
              <p style="color:rgb(13, 167, 33)">Faça login para obter os detalhes do profissional</p>
          </div>
          
          
          <div *ngIf="usuario_logado">
            <p>{{ anuncio.email}}</p>
            <p>{{ anuncio.celular1}}</p>
          </div>
          
          </div>
      </div>
    </div>
</div>