
   <div class="container">
     <div class="row ">

       <div class="col-md-2">

       </div>
       <div class="col-md-8">
         <h1>Tipo de Usuário - Etapa 1 de 4</h1>
        <form>
          <fieldset class="form-group">
               <legend>Que tipo de usuário você é?</legend>
               <div class="form-check">
                  <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Pessoa Física
                   </label>
               </div>
               <div class="form-check">
                  <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Pessoa Jurídica
                   </label>
               </div>

           </fieldset>
           <fieldset>
             <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                   Vai prestar algum serviço?
                </label>
            </div>
           </fieldset>

           <a href="cadastro2.html" class="btn btn-success " role="button" aria-pressed="true">Próximo</a>
        </form>


       </div>

       <div class="col-md-2">

       </div>
     </div>




   </div>
