
   <div class="container">
     <div class="row ">

       <div class="col-md-2">

       </div>

       <div class="col-md-8" *ngIf="etapaAtual === 1">
         <h1>Tipo de Usuário - Etapa {{ etapaAtual }} de 4</h1>
        <form>
          <fieldset class="form-group">
               <legend>Que tipo de usuário você é?</legend>
               <div class="form-check">
                  <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Pessoa Física
                   </label>
               </div>
               <div class="form-check">
                  <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Pessoa Jurídica
                   </label>
               </div>

           </fieldset>
           <fieldset>
             <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                   Vai prestar algum serviço?
                </label>
            </div>
           </fieldset>
           <button (click)="anterior()" type="button" class="btn btn-success" *ngIf="etapaAnterior !== 0">
             Anterior
           </button>
           <button (click)="proximo()" type="button" class="btn btn-success" *ngIf="etapaAtual < 4">
             Próximo
           </button>
      
        </form>


       </div>

    <div class="col-md-8" *ngIf="etapaAtual === 2">
      <h1>Dados Pessoais - Etapa {{ etapaAtual }} de 4</h1>
        <form>
          <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email">
                </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Endereço">
                <small id="emailHelp" class="form-text text-muted">Rua, número e bairro.</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cidade">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="CEP">
              </div>
              <fieldset>
                <div class="form-group">
                  <label for="">Telefones fixos:</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefone 1">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefone 2">
                </div>

              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label for="">Telefones celulares:</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Celular 1">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Celular 2">
                </div>

              </fieldset>
              <div class="form-group">
                <label for="exampleInputFile">Selecione um foto:</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Um arquivo imagem no seu computador.</small>
              </div>


              <button (click)="anterior()" type="button" class="btn btn-success" *ngIf="etapaAnterior !== 0">
                  Anterior
                </button>
              <button (click)="proximo()" type="button" class="btn btn-success" *ngIf="etapaAtual < 4">
                  Próximo
              </button>
          </form>


    </div>
    
      <div class="col-md-8" *ngIf="etapaAtual === 3">
          <h1>Dados Profissionais - Etapa {{ etapaAtual }} de 4</h1>
          <form>
            <div class="form-group">
              <label for="exampleSelect1">Escolha a categoria em seu serviço se enquadra:</label>
              <select class="form-control" id="exampleSelect1">
                <option>Servicos Domesticos</option>
                <option>Reformas e Reparos</option>
                <option>Consutoria</option>
                <option>Tecnologia</option>
                <option value="">Moda e Belaza</option>
                <option value="">Aulas</option>
              </select>
              <small id="fileHelp" class="form-text text-muted">
                Caso a categoria não exista envie um email para contato@portaldeservico.com.br para inclusão.
              </small>
            </div>
  
            <div class="form-group">
              <label for="exampleSelect1">Escolha o serviço que você vai prestar:</label>
              <select class="form-control" id="exampleSelect1">
                <option>Eletricista</option>
                <option>Babá</option>
                <option>Contador</option>
                <option value="">Advogado</option>
                <option value="">Barbeiro</option>
                <option value="">Professor</option>
                <option value="">Programador</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Descreva o serviço que você prestar</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <small id="fileHelp" class="form-text text-muted">
                A descriçao vai aparecer nos anúncios na página prinicpal do site!
              </small>
           </div>
           
           <button (click)="anterior()" type="button" class="btn btn-success" *ngIf="etapaAnterior !== 0">
              Anterior
           </button>
           <button (click)="proximo()" type="button" class="btn btn-success" *ngIf="etapaAtual < 4">
              Próximo
           </button>
          </form>
      </div>

      <div class="col-md-8" *ngIf="etapaAtual === 4">
          <h1>Dados do Plano - Etapa {{ etapaAtual }} de 4</h1>
          <form>
                    <div class="row">
                      <div class="card" style="width: 30%;margin: 10px 10px 10px 10px;">
                         <h4 class="card-header"  >Plano 1</h4>
                         <div class="card-body" style="margin: 10px 10px 10px 10px;">
                            <h4 class="card-title">Mensal </h4>
                            <p class="card-text">
                              
                   Pessoa Física:   R$ 19,90
                   Pessoa Jurídica: R$ 29,90
                   
                  </p>
                            <div class="form-check">
                              <label class="form-check-label">
                              <input type="checkbox" class="form-check-input">
                                Selecionar
                              </label>
                            </div>
          
                         </div>
                       </div>
          
                       <div class="card" style="width: 30%; margin: 10px 10px 10px 10px;">
                          <h4 class="card-header">Plano 2</h4>
                          <div class="card-body" style="margin: 10px 10px 10px 10px;">
                             <h4 class="card-title">Semestral</h4>
                             <p class="card-text">
                                Pessoa Física:   R$ 99,50
                   Economize $19,90
          
                   Pessoa Jurídica: R$ 149,50
                   Economize R$ 29,90
                    
                   
                 </p>
                             <div class="form-check">
                               <label class="form-check-label">
                               <input type="checkbox" class="form-check-input">
                                 Selecionar
                               </label>
                             </div>
                          </div>
                        </div>
          
                        <div class="card" style="width: 30%;margin: 10px 10px 10px 10px;">
                           <h4 class="card-header">Plano 3</h4>
                           <div class="card-body" style="margin: 10px 10px 10px 10px;">
                              <h4 class="card-title">Anual</h4>
                              <p class="card-text">
                               
                               Pessoa Física:   R$ 199,00
                   Economize $39,80
          
                   Pessoa Jurídica: R$ 299,00
                   Economize R$ 59,80
                   
                   
                   </p>
                              <div class="form-check">
                                <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                  Selecionar
                                </label>
                              </div>
                           </div>
                         </div>
          
                    </div>
          
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                        Estou de acordo com os <a href="termosUso.html">Termos de Uso</a> do Serviço
                      </label>
                    </div>
                    <button (click)="anterior()" type="button" class="btn btn-success" *ngIf="etapaAnterior !== 0">
                        Anterior
                     </button>
                     <button (click)="proximo()" type="button" class="btn btn-success" *ngIf="etapaAtual < 4">
                        Próximo
                     </button>
                     <button  type="button" class="btn btn-success" *ngIf="etapaAtual === 4">
                        Salvar
                     </button>
                    </form>
                    
          
      </div>

       <div class="col-md-2">

       </div>
     </div>




   </div>
