<h3>Pesquisar</h3>
<form #f="ngForm">
  <div class="form-group">
    <label >Escolha uma Categoria</label>
    <select class="form-control" 
            name="categoriaSelect" 
            ngModel
            (change)=onChangeSelectCategoria(f)
    >
      <option value="" disabled>Selecione uma categoria</option>
      <option *ngFor="let categoria of categorias" value="{{ categoria.id }}">
        {{ categoria.name }}
      </option>
    </select>
  </div>   
  <div class="form-group">
    <label >Escolha o Serviço</label>
    <select class="form-control" name="servicoSelect" ngModel>
      <option value="" disabled>Selecione um serviço</option>
      <option *ngFor="let servico of servicos" value="{{ servico.id }}">
        {{ servico.nome }} 
      </option>
      
    </select>
  </div>
  <button type="button" 
          class="btn btn-success"
          (click)=buscaServico(f.value.servicoSelect)>
    Pesquisa
  </button>
</form>

